<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">艾陞倫形象官網後台</a></h1>
    <ul>
      <% if (user) { %>
        <li>嗨! <%= user.email %> 管理員</li>
        <li><a href="/logout">登出</a></li>
      <% } else { %>
        <li><a href="/login">登入</a></li>
        <li><a href="/signup" class="btn">註冊</a></li>
      <% } %>
    </ul>
  </nav>
  