<%- include('partials/header'); -%>

<form action="/signup">
  <h2>註冊</h2>
  <label for="email">信箱</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="password">密碼</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>送出</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // get values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/signup', { 
        method: 'POST', 
        body: JSON.stringify({ email, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      // 5-3. signup.ejs 註冊驗面, 於 auth controller > handleErrors 檢查
      // 5-4. signup.ejs 註冊頁 如何讓 auth controller 檢查? ans: 路由
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }

    }
    catch (err) {
      console.log(err);
    }

  });
</script>